.frame1
{
    height: 300px;
    width: 180px;
    color: red;
    border: darkblue;
    border-radius: initial;
    border-width: thick;
    border-top: thick;
    border-left: thick;
    border-bottom: thick;
    border-right: thick;
    border-style: solid;  
    text-align: center;
    margin-left: 60px; 
    margin-right: 60px;
    margin-top: 72px;
    margin-bottom: 72px;
}
.frame2
{
    height: 300px;
    width: 180px;
    color:blue;
    border: darkblue;
    border-radius: initial;
    border-width: thick;
    border-top: thick;
    border-left: thick;
    border-bottom: thick;
    border-right: thick;
    border-style: solid;  
    text-align: center;
    margin-left: 60px; 
    margin-right: 60px;
    margin-top: 72px;
    margin-bottom: 72px;
}
.frame3
{
    height: 300px;
    width: 180px;
    color:green;
    border: darkblue;
    border-radius: initial;
    border-width: thick;
    border-top: thick;
    border-left: thick;
    border-bottom: thick;
    border-right: thick;
    border-style: solid;  
    text-align: center;
    margin-left: 60px; 
    margin-right: 60px;
    margin-top: 72px;
    margin-bottom: 72px;
}

.picture
{
 height: 270px;
    background-image: url("./pictures/file2.jpeg");
    width: 100%;
    font-size: xx-large;
    text-align: center;
    color: brown;
}

.section 
{   
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row;
    /* justify-content: space-between;  */
    align-items: center; 
    list-style: none; 
}